@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75;
    color: #333333;
    background-color: #ffffff;
}

#header {
    margin: 0 2rem;
}

@media (min-width: 769px) {
    #header {
        margin: 0;
    }
}

#header .title {
    text-align: center;
    margin: 4rem 0 1rem 0;
}

#header img {
    width: 35%;
}

@media (min-width: 769px) {
    #header img {
        width: 15%;
    }
}

#header nav {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

@media (min-width: 769px) {
    #header nav {
        margin-bottom: 3rem;
        padding: 0 10rem;
        border-bottom: 0.1rem solid #c3c3c3;
    }
}


#header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#header ul a {
    text-decoration: none;
    color: #333333;
}

#header .menuLeft a {
    margin-right: 1rem;
}

@media (min-width: 769px) {
    #header .menuLeft a {
        margin-right: 2rem;
    }
}

#header .menuRight {
    margin-left: 2rem;
}

#header .menuRight a {
    margin-left: 1rem;
}

@media (min-width: 769px) {
    #header .menuRight a {
        margin-left: 2rem;
    }
}


@media (min-width: 769px) {
    #main {
        margin: 0 10rem;
    }
}


#main img {
    max-width: 100%;
}

#main .product {
    margin: 0 2rem;
}

@media (min-width: 769px) {
    #main .product {
        margin: 0;
    }
}

#main .name {
    font-size: 1.6rem;
    font-weight: bold;
    border-top: 0.1rem solid #c3c3c3;
    border-bottom: 0.1rem solid #c3c3c3;
}

#main .price {
    margin: 3rem 0;
}

#main table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#main .select {
    width: 60%;
}

#main select {
    width: 80%;
}

#main .button {
    text-align: center;
    margin: 3rem 0;
}

#main .button button {
    color: #ffffff;
    background-color: #4b4b4b;
    width: 100%;
    padding: 1.5rem 0;
}

#main .size {
    margin-bottom: 10rem;
}

#main .size th{
    background-color: #ECEBEB;
}

@media (min-width: 769px) {
    #main {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 769px) {
    #main .img {
        width: 47%;
    }
}

@media (min-width: 769px) {
    #main .product {
        width: 47%;
    }
}


#footer {
    font-size: 1rem;
    text-align: center;
}